body {
    color: black;
    background-color: #333333;
}
* {
    box-sizing: border-box;
}
.container {
    margin: 50px auto;
    overflow-x: hidden;
}
#slider {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}
article img {
    width: 100%;
}
#slides article {
    width: 20%;
    float: left;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
#slides .inner {
    width: 500%;
    line-height: 0;
}
input {
    display: none;
}
label, a {
    cursor: pointer;
    text-decoration: none;
}

label, #active, img {
    -moz-user-select:none;
    -webkit-user-select:none;
}
#active {
    text-align: center;
}
#active label {
    display: inline-block;
    width: 30px;
    line-height: 30px;
}
#active label span {
    display: inline-block;
    border-radius:50%;
    width: 10px;
    height: 10px;
    background-color: white;
}
#active label:hover span{
    background: gray;
}
#slide1:checked ~ #slides .inner {
    margin-left:0;
}


#slide2:checked ~ #slides .inner {
    margin-left:-100%;
}


#slide3:checked ~ #slides .inner {
    margin-left:-200%;
}

#slide4:checked ~ #slides .inner {
    margin-left:-300%;
}


#slide5:checked ~ #slides .inner {
    margin-left:-400%;
}
#slide1:checked ~ #active label:nth-child(1) span,
#slide2:checked ~ #active label:nth-child(2) span,
#slide3:checked ~ #active label:nth-child(3) span,
#slide4:checked ~ #active label:nth-child(4) span,
#slide5:checked ~ #active label:nth-child(5) span {

    background-color: darkslategrey !important;
}
#slide1:checked:hover ~ #active label:nth-child(1) span,
#slide2:checked:hover ~ #active label:nth-child(2) span,
#slide3:checked:hover ~ #active label:nth-child(3) span,
#slide4:checked:hover ~ #active label:nth-child(4) span,
#slide5:checked:hover ~ #active label:nth-child(5) span {

    background-color: whitesmoke !important;
    border: 2px solid darkslategrey;
}
#slides .inner {
    transition: all 700ms;

}
#slider {
    -webkit-transform: translateZ(0);
    transition: all 0.4s ease-out;
}


#slides, #active, #active label {
    -webkit-transform: translateZ(0);
    transition: all 0.5s ease-out;
}